body {
  margin: 0;
  padding: 0;
  font-family: '-apple-system', 'San Francisco Display', 'San Francisco Text', 'SF UI Display', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
}

* { box-sizing: border-box; }

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-moz-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation: fadeIn .5s;
  -moz-animation: fadeIn .5s;
  animation: fadeIn .5s;
}

h1 {
  font-size: 2.5rem;
  margin-top: 3rem;
  font-family: 'San Francisco Display', 'San Francisco Text', 'SF UI Display', 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 780px){
  h1 {
    font-size: 2rem;
    margin-top: 1rem;
  }
}

#producthunt {
  display: none;
  max-width: 380px;
  text-align: left;
  padding: 6px 6px 6px 50px;
  margin: 0 auto;
  color: #837975;
  font-size: 1rem;
  line-height: 1.3rem;
  background: #FDFAF1 url('./images/pro-duck-hunt.svg') no-repeat left 12px center;
  background-size: 26px;
  border: 1px solid #F6DEAC;
  border-radius: 4px;
}

#producthunt a {
  color: #534540;
  text-decoration: underline;
}

.social {
  position: absolute;
  top: 27px;
  right: 1rem;
}

@media screen and (max-width: 500px){
  .social .fb-share-button {
    display: none;
  }
}

.social iframe {
  vertical-align: top;
}

.twitter-share-button {
  margin-left: 1rem;
  margin-top: 4px;
}

@keyframes splashLogo {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(1080deg);
  }
}

.splashLogo {
  width: 50px;
  height: 50px;
  vertical-align: -16px;
  display: inline-block;
  animation-name: splashLogo;
  animation-duration: 6s;
  /*animation-iteration-count: infinite;*/
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.demoContainer {
  position: relative;
  margin-top: 2rem;
}

.demoScreenshot {
  max-width: 1000px;
  max-height: 600px;
  width: 80vw;
  background: url('./images/screenshot.png') no-repeat center;
  background-size: cover;
  height: calc(80vw * .6);
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0,0,0,.25);
}

iframe.demo {
  max-width: 1000px;
  max-height: 600px;
  width: 90vw;
  height: calc(90vw * .6);
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 15px 30px rgba(0,0,0,.25);
}

.stoplights {
  background: url('./images/stoplights.png') no-repeat top;
  background-size: 52px 24px;
  width: 52px;
  height: 12px;
  position: absolute;
  top: 13px;
  left: 13px;
  cursor: pointer;
}

.stoplights:hover {
  background-position: bottom;
}